{{ partial "header.html" . }}
{{ partial "nav/header.html" . }}
<div class="px-main-wrapper mdc-toolbar-fixed-adjust">
  <main class="px-main">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
              <div class="px-content">
                
                <div class="mdc-card px-card">
                  {{ block "main" . }}
                  {{ end }}
                </div>
                
              </div>
            </div>

            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-4 px-sidebar">
              {{ partial "nav/sidebar.html" . }}
            </div>

          </div>
          
        </div>
      </div>
    </div>
  </main>
</div>
{{ partial "footer.html" . }}