{{ define "main" }}      
{{ $pages := where .Site.RegularPages "Type" "in" .Section }}

  <div class="mdc-list-group px-paddding">
    <h2 class="mdc-typography--title px-padding">{{ .Section | title }}</h2>
    <hr class="mdc-list-divider">
    {{ range ($pages.GroupByDate "2006") }}
    
    <h3 class="mdc-list-group__subheader">{{.Key}}</h3>
    {{ range .Pages }}
    
      <ul class="mdc-list mdc-list--two-line mdc-list--dense demo-list">
        <li class="mdc-list-item">
          <span class="mdc-list-item__text">
            <a class="mdl-color-text--grey-700" href="{{.Permalink}}">{{.Title}}</a>

            <span class="mdc-list-item__secondary-text">
              {{ with .Params.author }}{{ . }}{{ else }}{{ .Site.Params.author }}{{ end }}
              {{ with .PublishDate }} &middot; <time datetime="{{ .Format "2006-01-02T15:04:05-07:00" }}">{{ .Format "02 Jan 2006" }}</time>{{ end }}
            </span>
          </span>
        </li>
      </ul>
    {{ end }}
    <hr class="mdc-list-divider">
    {{ end }}
  </div>
            

{{ end }}