{{ define "main" }}
  {{ range first 1 ( where .Site.RegularPages.ByPublishDate.Reverse ".Type" "post") }}
  
    <div class="mdc-typography--headline px-padding">
      {{ .Title }}
    </div>
    
    <article class="px-padding">
      {{ .Content }}
    </article>
    <hr class="mdc-list-divider">
    
    <div class="mdc-card__actions">
      <div class="mdc-card__action-buttons">
        <button class="mdc-button mdc-card__action mdc-card__action--button">Action 1</button>
        <button class="mdc-button mdc-card__action mdc-card__action--button">Action 2</button>
      </div>
      <div class="mdc-card__action-icons">
        <i class="material-icons mdc-card__action mdc-card__action--icon" tabindex="0" role="button" title="Share">share</i>
        <i class="material-icons mdc-card__action mdc-card__action--icon" tabindex="0" role="button" title="More options">more_vert</i>
      </div>
    </div>
  
  {{ end }}
{{ end }}